In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm

### Revision

A french cake shop claims that the average number of pastries they can produce in a day exceeds 500.
The average number of pastries produced per day over a 70 day period was found to be 530.

Assume that the population standard deviation for the pastries produced per day is 125.

Test the claim using a z-test with the critical z-value = 1.64 at the alpha (significance level) = 0.05, and state your interpretation.

In [28]:
#Ho : m=500
#HA : m>500
z = (530 - 500)/(125/np.sqrt(70))
z

2.007984063681781

In [29]:
p_val = 1 - norm.cdf(z)
p_val

0.022322492581293485

In [30]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

## One Sample T-Test

In [31]:
iq_scores = [110, 105, 98, 102, 99, 104, 115, 95]
np.mean(iq_scores)

103.5

In [32]:
from scipy.stats import ttest_1samp

In [33]:
t_stat, p_val = ttest_1samp(iq_scores, 100)
t_stat, p_val

(1.5071573172061195, 0.1754994493585011)

In [34]:
alpha = 0.01
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

## Two Sample T-Test

In [35]:
!wget --no-check-certificate https://drive.google.com/uc?id=1qSiKRk_9fNmTWsEDWqOygwcGrU-XuINw -O iq_two_schools.csv

--2024-09-25 14:09:46--  https://drive.google.com/uc?id=1qSiKRk_9fNmTWsEDWqOygwcGrU-XuINw
Resolving drive.google.com (drive.google.com)... 2404:6800:4007:81e::200e, 142.250.183.238
Connecting to drive.google.com (drive.google.com)|2404:6800:4007:81e::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1qSiKRk_9fNmTWsEDWqOygwcGrU-XuINw [following]
--2024-09-25 14:09:47--  https://drive.usercontent.google.com/download?id=1qSiKRk_9fNmTWsEDWqOygwcGrU-XuINw
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4007:829::2001, 142.250.196.1
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4007:829::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 639 [application/octet-stream]
Saving to: 'iq_two_schools.csv'

     0K                                                       100% 28.6M=0s

2024-09-25 14:09:49 (28.6 MB/s) - 'iq_two_schools.csv' saved [639/639]

### IQ scores for 2 schools

In [36]:
df_iq = pd.read_csv('iq_two_schools.csv')
df_iq.head()

     School   iq
0  school_1   91
1  school_1   95
2  school_1  110
3  school_1  112
4  school_1  115

In [37]:
df_iq.groupby('School')['iq'].mean()

School
school_1    101.153846
school_2    109.416667
Name: iq, dtype: float64

In [38]:
from scipy.stats import ttest_ind

In [39]:
iq_1 = df_iq[df_iq['School'] == 'school_1']['iq']
iq_2 = df_iq[df_iq['School'] == 'school_2']['iq']
iq_1.head()

0     91
1     95
2    110
3    112
4    115
Name: iq, dtype: int64

In [40]:
#from os import POSIX_FADV_NORMAL
t_stat, p_val = ttest_ind(iq_1, iq_2, alternative='greater')
p_val

0.9899772364453189

In [41]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

### Sachin ODI two innings pattern

In [42]:
!wget --no-check-certificate https://drive.google.com/uc?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj -O Sachin_ODI.csv

--2024-09-25 14:09:49--  https://drive.google.com/uc?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj
Resolving drive.google.com (drive.google.com)... 2404:6800:4007:81e::200e, 142.250.183.238
Connecting to drive.google.com (drive.google.com)|2404:6800:4007:81e::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj [following]
--2024-09-25 14:09:50--  https://drive.usercontent.google.com/download?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4007:829::2001, 142.250.196.1
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4007:829::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26440 (26K) [application/octet-stream]
Saving to: 'Sachin_ODI.csv'

     0K .......... .......... .....                           100% 1.19M=0.02s

2024-09-25 14:09:54 (1.19 MB/s) - 'Sachin_ODI.csv' saved [26440/26440]

In [43]:
df = pd.read_csv('Sachin_ODI.csv')
df.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [44]:
# Batting Pattern in first and Second Innings

In [45]:
df.groupby('Inns')['runs'].mean()

Inns
1    46.670588
2    40.173684
Name: runs, dtype: float64

In [46]:
df_first_inns = df[df['Inns'] == 1]['runs']
df_second_inns = df[df['Inns'] == 2]['runs']
df_first_inns.head()

0      13
7      30
15    137
16      3
17     31
Name: runs, dtype: int64

In [47]:
t, p_val = ttest_ind(df_first_inns, df_second_inns, alternative='greater')
p_val

0.07241862097379981

In [48]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

### Drug Recovery Time Example

In [49]:
!wget --no-check-certificate https://drive.google.com/uc?id=1aTrYo2_PIeYcg8Fvpr5m2GYAXiPvvOmz -O drug_1_recovery.csv

--2024-09-25 14:09:54--  https://drive.google.com/uc?id=1aTrYo2_PIeYcg8Fvpr5m2GYAXiPvvOmz
Resolving drive.google.com (drive.google.com)... 2404:6800:4007:81e::200e, 142.250.183.238
Connecting to drive.google.com (drive.google.com)|2404:6800:4007:81e::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1aTrYo2_PIeYcg8Fvpr5m2GYAXiPvvOmz [following]
--2024-09-25 14:09:54--  https://drive.usercontent.google.com/download?id=1aTrYo2_PIeYcg8Fvpr5m2GYAXiPvvOmz
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4007:829::2001, 142.250.196.1
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4007:829::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1102 (1.1K) [application/octet-stream]
Saving to: 'drug_1_recovery.csv'

     0K .                                                     100% 46.5M=0s

2024-09-25 14:09:57 (46.5 MB/s) - 'drug_1_recovery.csv' saved [1102/1102]

In [50]:
d1 = pd.read_csv('drug_1_recovery.csv')
d1.head()

     drug_1
0  8.824208
1  7.477745
2  7.557121
3  7.981314
4  6.827716

In [51]:
!wget --no-check-certificate https://drive.google.com/uc?id=1YgAgnzkfiCFz_kSO6BPPLCYAB2K5VwXG -O drug_2_recovery.csv

--2024-09-25 14:09:57--  https://drive.google.com/uc?id=1YgAgnzkfiCFz_kSO6BPPLCYAB2K5VwXG
Resolving drive.google.com (drive.google.com)... 2404:6800:4007:81e::200e, 142.250.183.238
Connecting to drive.google.com (drive.google.com)|2404:6800:4007:81e::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1YgAgnzkfiCFz_kSO6BPPLCYAB2K5VwXG [following]
--2024-09-25 14:09:57--  https://drive.usercontent.google.com/download?id=1YgAgnzkfiCFz_kSO6BPPLCYAB2K5VwXG
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4007:829::2001, 142.250.196.1
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4007:829::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1328 (1.3K) [application/octet-stream]
Saving to: 'drug_2_recovery.csv'

     0K .                                                     100% 34.0M=0s

2024-09-25 14:09:59 (34.0 MB/s) - 'drug_2_recovery.csv' saved [1328/1328]

In [52]:
d2 = pd.read_csv('drug_2_recovery.csv')
d2.head()

     drug_2
0  9.565974
1  7.492915
2  8.738418
3  7.635235
4  4.125593

In [53]:
t, p_val= ttest_ind(d1['drug_1'], d2['drug_2'],alternative='less')
p_val

1.2771357371655034e-07

In [54]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

## Paired T-Test

### Problem solving in test1(before) and test2(After)

In [55]:
!wget --no-check-certificate https://drive.google.com/uc?id=1PZ1cC8nBZEtvnOYjfrg4xyErI-5i_-ae -O problem_solving.csv

--2024-09-25 14:10:00--  https://drive.google.com/uc?id=1PZ1cC8nBZEtvnOYjfrg4xyErI-5i_-ae
Resolving drive.google.com (drive.google.com)... 2404:6800:4007:81e::200e, 142.250.183.238
Connecting to drive.google.com (drive.google.com)|2404:6800:4007:81e::200e|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1PZ1cC8nBZEtvnOYjfrg4xyErI-5i_-ae [following]
--2024-09-25 14:10:00--  https://drive.usercontent.google.com/download?id=1PZ1cC8nBZEtvnOYjfrg4xyErI-5i_-ae
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 2404:6800:4007:829::2001, 142.250.196.1
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4007:829::2001|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1277 (1.2K) [application/octet-stream]
Saving to: 'problem_solving.csv'

     0K .                                                     100% 54.1M=0s

2024-09-25 14:10:03 (54.1 MB/s) - 'problem_solving.csv' saved [1277/1277]

In [56]:
df = pd.read_csv('problem_solving.csv')
df.head()

   id  test_1  test_2
0   0      40      38
1   1      49      44
2   2      65      69
3   3      59      63
4   4      44      43

In [57]:
print(df['test_1'].mean())
print(df['test_2'].mean())

60.48905109489051
62.43065693430657

In [58]:
from scipy.stats import ttest_rel

In [59]:
t, p_val = ttest_rel(df['test_1'], df['test_2'], alternative='less')
p_val

8.979201768961563e-08

In [60]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

In [61]:
group_a = [8, 7, 6, 5, 6]
group_b = [6, 5, 5, 4, 3]

In [62]:
t, p_val = ttest_ind(group_a, group_b, alternative='greater')
p_val

0.01858213893644975

In [63]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

In [64]:
female_scores=[25,30,45,49,47,35,32,42]

male_scores=[45,47,25,22,29,32,27,28,40,49,50,33]
t, p_val = ttest_ind(female_scores, male_scores, alternative='greater')
p_val

0.2847023809445894

In [65]:
alpha = 0.02
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

In [66]:
Heights_a = [162, 164, 168, 170, 174, 176, 180, 182, 186, 188, 192, 194, 198, 200, 204, 206, 210, 212, 216, 218, 222, 224, 228, 230, 234, 236, 240, 242, 246, 248, 252, 254, 258, 260, 264, 266, 270]
Heights_b = [158, 162, 166, 170, 174, 178, 182, 186, 190, 194, 198, 202, 206, 210, 214, 218, 222, 226, 230, 234, 238, 242, 246, 250, 254, 258, 262, 266, 270, 274, 278, 282, 286, 290, 294, 298, 302]
alpha = 0.1

## Assignment problems

### Green Gram Yield
Traditionally it is known that a green gram cultivation yields 12.0 quintals per hectare on an average.

In order to increase crop yields, scientists have developed a new variety of green grams, that can supposedly produce more than the expected average yield of 12 quintals per hectare.

To test the same, this variety of green grams was tested on 10 randomly selected farmer's fields.

The yield (quintals/hectare) was recorded as: [14.3,12.6,13.7,10.9,13.7,12.0,11.4,12.0,12.6,13.1]

With a 5% significance level, can we conclude that the average yield of this variety of green grams is more than the expected yield (12 quintals/hectare)?

Perform an appropriate test and choose the correct option below :

In [67]:
#Ho mu = 12
#HA mu > 12

yield_hectare = [14.3,12.6,13.7,10.9,13.7,12.0,11.4,12.0,12.6,13.1]
popmean = 12
t_stat, p_val = ttest_1samp(yield_hectare, popmean=popmean, alternative='greater')
t_stat, p_val

(1.8356436949305335, 0.04979938002326665)

In [68]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

###  Gym body fat percentage
Samples of Body fat percentages of few gym going men and women are recorded.

men = [13.3, 6.0, 20.0, 8.0, 14.0, 19.0, 18.0, 25.0, 16.0, 24.0, 15.0, 1.0, 15.0]
women = [22.0, 16.0, 21.7, 21.0, 30.0, 26.0, 12.0, 23.2, 28.0, 23.0]
Perform an appropriate test to check if the mean body fat percentage of men and women is statistically different.

Assume the significance level to be 5%.

In [69]:
#H0 = men = women
#HA = men != women

men = [13.3, 6.0, 20.0, 8.0, 14.0, 19.0, 18.0, 25.0, 16.0, 24.0, 15.0, 1.0, 15.0]
women = [22.0, 16.0, 21.7, 21.0, 30.0, 26.0, 12.0, 23.2, 28.0, 23.0]

t_stat, p_val = ttest_ind(np.array(men), np.array(women), alternative='two-sided')
t_stat, p_val

(-2.799960442832919, 0.01073060790419796)

In [70]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

### Quality assurance
The quality assurance department claims that on average the non-fat milk contains more than 190 mg of Calcium per 500 ml packet.

To check this claim 45 packets of milk are collected and the content of calcium is recorded.

Perform an appropriate test to check the claim with a 90% confidence level.

data = [193, 321, 222, 158, 176, 149, 154, 223, 233, 177, 280, 244, 138, 210, 167, 129, 254, 167, 194, 191, 128, 191, 144, 184, 330, 216, 212, 142, 216, 197, 231, 133, 205, 192, 195, 243, 224, 137, 234, 171, 176, 249, 222, 234, 191]

In [71]:
#H0 : mu = 190
#HA : mu > 190
data = [193, 321, 222, 158, 176, 149, 154, 223, 233, 177, 280, 244, 138, 210, 167, 129, 254, 167, 194, 191, 128, 191, 144, 184, 330, 216, 212, 142, 216, 197, 231, 133, 205, 192, 195, 243, 224, 137, 234, 171, 176, 249, 222, 234, 191]

t_stat, p_val = ttest_1samp(data, popmean=190, alternative='greater')
t_stat, p_val

(1.3689029903414232, 0.08898891556150607)

In [72]:
alpha = 0.1
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0

### Coaching class

There are 8 females and 12 males in a coaching class.

After a practice test, the coach wants to know whether the average score of females is greater than the average score of males.

Given data describes the scores of females and males in his class.

female_scores=[25,30,45,49,47,35,32,42]

male_scores=[45,47,25,22,29,32,27,28,40,49,50,33]

Use an appropriate test to check whether the assumption of the coach is significant or not, at a 2% significance level?

In [73]:
#H0 : mu_f = mu_m
#HA : mu_f > mu_m

female_scores=[25,30,45,49,47,35,32,42]

male_scores=[45,47,25,22,29,32,27,28,40,49,50,33]

t_stat, p_val = ttest_ind(np.array(male_scores), np.array(female_scores), alternative='less')
t_stat, p_val

(-0.5795450171026676, 0.2847023809445894)

In [74]:
alpha = 0.02
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

### Effectiveness on yield

An experiment was performed to compare the effectiveness of Ammonium Chloride and urea on the grain yield (in quintal per hectare) and the results are given in the arrays below:

Ammonium_chloride = [13.4, 10.9, 11.2, 11.8, 14, 15.3, 14.2, 12.6, 17, 16.2, 16.5, 15.7]

Urea = [12, 11.7, 10.7, 11.2, 14.8, 14.4, 13.9, 13.7, 16.9, 16, 15.6, 16]

Conduct an appropriate test to compare the same with a 95% confidence level and choose the appropriate option below.

In [75]:
#H0 : mu_a = mu_u
#HA : mu_a != mu_u

Ammonium_chloride = [13.4, 10.9, 11.2, 11.8, 14, 15.3, 14.2, 12.6, 17, 16.2, 16.5, 15.7]
Urea = [12, 11.7, 10.7, 11.2, 14.8, 14.4, 13.9, 13.7, 16.9, 16, 15.6, 16]

t_stat, p_val = ttest_ind(np.array(Ammonium_chloride), np.array(Urea), alternative='two-sided')
t_stat, p_val

(0.1846496543760765, 0.8551954147800473)

In [76]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

### Zumba trainer
The Zumba trainer claims to the customers, that their new dance routine helps to reduce more weight.

Weight of 8 people were recorded before and after following the new Zumba training for a month:

wt_before = [85, 74, 63.5, 69.4, 71.6, 65,90,78]

wt_after = [82, 71, 64, 65.2, 67.8, 64.7,95,77]

Test the trainer's claim with 90% confidence. Further, what would be the pvalue?

In [83]:
#H0 = before = after
#HA = before > after
# Since we are testing the hypotheses before and after the sample we use paired t-test

wt_before = [85, 74, 63.5, 69.4, 71.6, 65,90,78]

wt_after = [82, 71, 64, 65.2, 67.8, 64.7,95,77]

t, p_val = ttest_rel(wt_before, wt_after, alternative='greater')
p_val

0.14546808501326386

In [81]:
alpha = 0.1
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Fail to Reject H0

###  Test the Training Program
You are appointed as a Data Analyst for a training program deployed by the Government of India.

The participants’ skills were tested before and after the training using some metrics on a scale of 10.

before = [2.45, 0.69, 1.80, 2.80, 0.07, 1.67, 2.93, 0.47, 1.45, 1.34]   

after = [7.71, 2.17, 5.65, 8.79, 0.23, 5.23, 9.19, 1.49, 4.56, 4.20] 

Conduct an appropriate test to assess a statistically significant increase in the average skill score after the training program, and then answer the below questions accordingly.

Note: Perform the test at alpha = 5%.

In [85]:
#H0 = before = after
#HA = after > before
# Since we are testing the hypotheses before and after the sample we use paired t-test

before = [2.45, 0.69, 1.80, 2.80, 0.07, 1.67, 2.93, 0.47, 1.45, 1.34]   

after = [7.71, 2.17, 5.65, 8.79, 0.23, 5.23, 9.19, 1.49, 4.56, 4.20] 

t, p_val = ttest_rel(after, before, alternative='greater')
t, p_val

(5.111096450191605, 0.00031778119819482275)

In [86]:
alpha = 0.05
if p_val < alpha:
  print('Reject H0')
else:
  print('Fail to Reject H0')

Reject H0